header {
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
ul{
	list-style-type: none;
}
li {
	margin-right: 20px;
	display: inline;
}
img{
	margin: 10px;
	width: 150px;
}
a.link-nav {
	text-decoration: none;
}
body{
	margin: 0px;
	background-image: url('../image/pattern.jpg');
}
main{
	background-color: #ffffff;
	margin: 5% 15% 5%;
	padding: 2%;
}
h1{
	text-align: center;
}
article{
	border-bottom: 3px black solid;
	margin-bottom: 10px ;
}
footer{
	background-color: black;
	padding: 10px;
}
h5{
	color: white;
	text-align: center;
}